.notification-cont {
    padding: 2em;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.no-notifications {
    font-size: 1.25em;
    color: #777;
    font-family: var(--primary-font);
}
